path {
    fill: none;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.colors {
    position: flex;
}

#color-red {
    background-color: red;
    height: 50px;
}

#color-blue {
    background-color: blue;
    height:50px;
}